/* Variables */
:root{
    --primario-color: #faebfa;
    --secundario-color: #e086e0;
    --acento-color: #b20fd3;
    --font-family: "Inter", sans-serif;
    --texto-primario-color: #242424;
    --texto-secundario-color: #313131;
    --texto-acento-color: #ffffff;
}

/* Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--primario-color);
    color: var(--texto-secundario-color);
    text-align: center;
    letter-spacing: 1.5px;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    color: var(--texto-acento-color);
    padding: 150px 10px 10px;
   
}

h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: var(--texto-primario-color);
}

p {
    font-size: 1rem; 
    line-height: 1.6; 
}

main {
    padding: 50px;
    min-height: 40vh;
}

/* menu */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--secundario-color);
    padding: 15px 50px;
}

nav img {
    width: 30px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--texto-primario-color);
}

/* hero */
.hero {
    height: 500px;
    background-image: url('../assets/fondo-principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero p {
    color: var(--texto-acento-color);
    font-size: 2rem;
    font-weight: 500;
}

/* seccion sobre mi */

/* seccion proyectos y seccion servicios */
.card ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 65px;
}

.card li {
    background-color: #e086e0;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 3px 3px 15px rgba(68, 68, 68, 0.774);
}

.card img {
    width: 300px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card p {
    max-width: 300px;
}

h3 {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--texto-primario-color);
}

.destacada {
    position: relative;
}

.etiqueta-destacada {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--acento-color);
    color: var(--texto-acento-color);
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px 10px;
    border-radius:0 8px 0 8px;
}

/* seccion contacto */
button {
    background-color: var(--acento-color);
    color: var(--texto-acento-color);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.3rem;
    margin-top: 50px;
    cursor: pointer;
}

/* footer */
footer {
    background-color: var(--secundario-color);
    padding: 10px;
}

